:root {
    --submit-btn: #596D48;
    --default-border: #E5E7EB;
    --focus-border: blue;
    --valid-border: green;
    --invalid-border: red;
}

.f-row {
    display: flex;
}


.f-item {
    display: flex;

    flex-direction: column;
}
