:root {
    --submit-btn: #596D48;
    --default-border: #E5E7EB;
    --focus-border: blue;
    --valid-border: green;
    --invalid-border: red;

    --bg-1: #F9FAFB;
    --bg-2: #FFF;
}

.f-row {
    display: flex;
}


.f-item {
    display: flex;

    flex-direction: column;
}

.main-text {
    background-color: var(--bg-1);
}

.f-main,
f-footer {
    background-color: var(--bg-2);
}
